
@{
    ViewData["Title"] = "About";
}

<h1 style="color: green">About Secret Santa</h1>

<p>All Secret Santa assigments have been randomly assigned.</p>
<p>Information was entered into a secure database and then all names by team where randomized for each Secret Santa.</p>
<p>Gifts should not exceed $25 and it is recommended to spend around $10 to $15.</p>
<p>You can send by mail with your name or send anonymously if that is an option.</p>
<p>
    <img src="~/img/secret-santa-gift.png" style="margin-top: 50px; margin-left: 120px;" />"
</p>
