@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your Address has not been shared with anyone except your Secret Santa</p>
<p>
    <img src="~/img/sack-doll.png" />
</p>
